/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.hiden {
	display: none;
}

#index-banner .container .row {
	margin-bottom: 0px;
}

img.small {
	width: 64px;
	height: 64px;
	padding: 0 10px;
}

.title.social {
	text-align: center;
}

#social a {
	display: block;
}

#social .small {
	display: block;
	margin: 0 auto;
}

.sidebar {
	visibility: hidden;
}
.sidebar.visible {
	visibility: visible;
}
.toastBG {
	background-color: #29B6F6;
}

.comic-container .comic figure {
	margin: 0;
}

.comic-container .comic figure img {
	width: 100%;
}

.comic-container .tabs-container {
	margin-bottom: 10px;
}

#enterSignOut {
	margin: -3px;
}

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
	.no-mobile {
		display: none;
	}
}